.form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form .formGroup {
    margin-bottom: 15px;
}

.form .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form .formGroup input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form .formGroup input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.form .buttonContainer {
    text-align: center;
    margin-top: 20px;
}

.form .buttonContainer button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form .buttonContainer button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
}
.content-wrap {
    flex: 1;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
