@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
    padding: 0px;
}

.all {
    background-color: rgb(228, 225, 225);
}

.criarcarro-container {
    width: 450px;
    margin: 0 auto;
    padding: 1em;
}

.criarcarro-container h2 {
    margin: 0.5em;
    margin-top: 1.7em;
    text-align: center;
    font-size: 1.2em;
    color:#2a2929;
}

.criarcarro-container p{
    color: rgb(93, 91, 91);
    font-size: 0.9em;
}