.ImgLogo {
    max-width: 250px;
    /* Replace with desired maximum width */
    max-height: 350px;
    /* Replace with desired maximum height */
}

.all {
    font-size: x-large;
}

.dropdown-menu {

    width: 250px;
    /* Set a specific width */
    font-size: 30px;
    /* Adjust font size of menu items */
    line-height: 2.5;
    /* Adjust spacing between items */

}

.dropdown-item {
    font-size: 20px;
    /* Adjust font size of menu items */
}