.ImgLogo {
    max-width: 250px; /* Replace with desired maximum width */
    max-height: 350px; /* Replace with desired maximum height */
  }

.all{
  font-size: x-large;
}

.dropdown-menu {

  width: 250px; /* Set a specific width */
  font-size: 30px; /* Adjust font size of menu items */
  line-height: 2.5; /* Adjust spacing between items */
  z-index: 9999;

}

.dropdown-item{
  font-size: 20px; /* Adjust font size of menu items */
}

.nav-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: black;
  z-index: 999;
}

.fa-cadastro{
  font-size: 1.24em;
}

.fa-login {
  font-size: 1.2em;
}
