.titulo{
    text-decoration-line: overline;
    text-decoration-color: var(--cor5);
    color: #524c4c;
    width: 100%;
    margin: 17px;
    margin-top: 50px;
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1px;
    margin-bottom: 50px;
    gap: 120px;
}

.button-cancel{
    border: 2px solid var(--cor4);
    padding: 7px;
    border-radius: 12px;
    transition-duration: 0.7s;
    color: var(--cor4);
    width:100px;
    height: 40px;
    font-size: small;
    margin-top: 15px;
}
.button-cancel:hover {
    cursor: pointer;
    background-color: var(--cor4);
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.24), 0 14px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
    color: #ffffff;
}

.butPagar{
    border: 2px solid var(--cor4);
    padding: 7px;
    border-radius: 12px;
    transition-duration: 0.7s;
    color: var(--cor4);
    width:100px;
    height: 40px;
    font-size: small;
    margin-top: 15px;
}

.butPagar:hover {
    cursor: pointer;
    background-color: var(--cor4);
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.24), 0 14px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
    color: #ffffff;
}

.visu{
    border: 2px solid var(--cor4);
    padding: 7px;
    border-radius: 12px;
    transition-duration: 0.7s;
    color: var(--cor4);
    width:100px;
    height: 40px;
    font-size: small;
}
.visu:hover {
    cursor: pointer;
    background-color: var(--cor4);
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.24), 0 14px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
    color: #ffffff;
}

.pag{
    color: #524c4c;
    margin: 1px;
}